.homeContainer {
  width: 100%;
}
.home {
  width: 80%;
  margin-left: 7%;
  padding-top: 20px;
}
.search {
  margin-bottom: 20px;
  padding-top: 20px;
}
.success {
  margin-right: 20px;
}
.pagination {
  float: right;
  clear: left;
  margin-bottom: 30px;
}
